.btn-container{
    display: flex;
    height: 3.5em;
    width: 3.5em;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 0.2em;
    font-size: 1.2em;
    /* outline: 1px; */
    margin: 1px 1px;
}

.operator{
    background-color: slategrey;
}